@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;400;500;600;800&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-color: #fff;
  line-height: 1.35;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  visibility: visible;
  font-family: "Exo", sans-serif;
  color: #0f0f0f;
  letter-spacing: 0.02em;
}
